@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

/* reset css */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Noto Sans KR", sans-serif;
}
ol,
ul,
li {
	list-style: none;
}
a {
	text-decoration: none;
}
.hidden {
	position: absolute;
	left: -9999px;
	opacity: 0;
}
table {
	border-collapse: collapse;
	font-size: 15px;
}
.point {
	color: #fb0808;
}
.wrapper {
	float: left;
	width: 49%;
	margin-bottom: 5px;
	&:nth-of-type(3),
	&:nth-of-type(2n + 6) {
		margin-right: 2%;
	}
	.sub-title {
		display: flex;
		align-items: center;
		margin: {
			top: 10px;
			bottom: 10px;
		}
		img {
			width: 20px;
			margin-right: 10px;
		}
		.more-btn {
			text-align: center;
			width: 40px;
			height: 20px;
			border-radius: 5px;
			background-color: #495464;
			color: #fff;
			font: 12px/20px "Noto Sans KR", sans-serif;
		}
		&.title-more {
			display: flex;
			justify-content: space-between;
			align-items: center;
			p {
				display: flex;
				align-items: center;
			}
		}
	}
}

header {
	position: fixed;
	z-index: 5;
	width: 100%;
	height: 60px;
	border-bottom: 5px solid #142759;
	background-color: #fff;
	.header-container {
		position: relative;
		display: flex;
		justify-content: space-between;
		height: 100%;
		.logo-img {
			display: block;
			position: relative;
			width: 163px;
			height: 50px;
			margin-left: 20px;
			margin-top: 3px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.gnb-wrap {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 30px;
			.admin {
				text-align: right;
				font-size: 14px;
			}
			// header gnb menu
			#gnb {
				.sub-menu0 {
					font-size: 14px;
					//관리자, 회의록 등 첫번째 li
					> li {
						position: relative;
						display: flex;
						justify-content: center;
						align-items: center;
						width: 100px;
						height: 100%;
						a {
							color: #282828;
						}
						//첫번째 li를 hover 했을 때
						&:hover {
							background: #e6eaef;
							.sub-menu1 {
								display: flex;
								ul li:hover {
									.sub-menu2 {
										display: block;
									}
									> a {
										color: #337ab7;
									}
								}
							}
						}
						//기본정보관리, 코드정보관리 등 두번째 li
						.sub-menu1 {
							display: none;
							position: absolute;
							z-index: 4;
							flex-direction: column;
							top: 50px;
							left: 0;
							width: 190px;
							background: #e6eaef;
							ul {
								li {
									position: relative;
									padding: 10px;
									border: 1px solid #d2d5d8;
									border-top: none;
									a i {
										position: absolute;
										right: 10px;
										top: 13px;
									}
									//고객사관리, 사용자관리 등 세번째 li
									.sub-menu2 {
										position: absolute;
										left: 189px;
										top: -1px;
										display: none;
										width: 200px;
										background: #e6eaef;
									}
									&:nth-of-type(1) {
										border-top: 1px solid #d2d5d8;
									}
									ul {
										li a {
											font-size: 14px;
											display: flex;
											justify-content: center;
											align-items: center;
										}
									}
								}
							}
						}
					}
				}
			}
			//TODO : 반응형 모바일 - 정리하기
			#gnb-mobile {
				display: none;
				position: relative;
				ul li {
					width: 100%;
				}
				.sub-menu0 ul li a:hover {
					color: #4a4944;
					background-color: #e6eaef;
				}
			}
			#gnb > ul,
			#gnb-mobile > ul {
				height: 50px;
				display: flex;
			}
		}
	}
}

.container {
	width: 100%;
	height: 100%;
	padding: 70px 10px 0px;
	&::after {
		display: block;
		content: "";
		clear: both;
	}
	.main-gnb {
		margin-bottom: 10px;
		ul {
			display: flex;
			justify-content: space-between;
			gap: 40px;
			li {
				flex: 1;
				height: 40px;
				border-radius: 15px;
				background-color: #899fce;
				box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
				&:hover {
					background-color: #b5bfd2;
				}
				a {
					display: flex;
					justify-content: space-evenly;
					align-items: center;
					height: 100%;
					color: #fff;
					img {
						width: 25px;
					}
				}
			}
		}
	}
	.title {
		line-height: 41px;
		width: 100%;
		height: 41px;
		color: #fff;
		background-color: #142759;
		padding-left: 10px;
	}
	.processing-doc {
		table {
			width: 100%;
			text-align: center;
			table-layout: fixed;
			tbody {
				tr {
					height: 35px;
					th,
					td {
						border: 1px solid #828282;
					}
					td {
						cursor: pointer;
						&:hover {
							background-color: #f4f4f2;
						}
					}
				}
				.bg-color {
					background-color: #f0f3fa;
				}
			}
		}
	}
	.progress-rate {
		.sub-gnb {
			display: flex;
			gap: 5px;
			article {
				flex: 1;
				height: 62px;
				border: 1px solid #828282;
				border-radius: 5px;
				box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
				&:hover {
					background-color: #f4f4f2;
				}
				a {
					display: flex;
					flex-direction: column;
					justify-content: space-evenly;
					align-items: center;
					height: 100%;
					color: #000;
					span {
						font-size: 14px;
					}
					div {
						display: flex;
						justify-content: space-evenly;
						align-items: center;
						width: 100%;
						img {
							height: 25px;
						}
						b {
							font-size: 18px;
							&.num {
								color: #5978b9;
							}
						}
					}
				}
			}
		}
	}
	.activity-progress {
		.sub-gnb {
			display: flex;
			gap: 30px;
			article {
				flex: 1;
				border: 1px solid #828282;
				border-radius: 8px;
				background-color: #f4f4f2;
				height: 65px;
				box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
				&:hover {
					background-color: #fff;
				}
				a {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: space-evenly;
					color: #000;
					height: 100%;
					p {
						width: 70%;
						height: 20px;
						background-color: #d7dae4;
						border-radius: 5px;
						text-align: center;
						font: 15px/20px "Noto Sans KR", sans-serif;
					}
					b {
						font-size: 20px;
					}
				}
			}
		}
	}
	.processing-wait {
		table {
			width: 100%;
			text-align: center;
			tr {
				height: 33px;
				&:hover {
					background-color: #f4f4f2;
				}
				th,
				td {
					border: 1px solid #828282;
				}
				th {
					background-color: #f0f3fa;
				}
				td {
					cursor: pointer;
				}
			}
		}
	}
	.notice {
		cursor: pointer;
		.notice-wrapper {
			height: 200px;
			border: 1px solid #828282;
			padding: 10px;
			table {
				width: 100%;
				height: 100%;
				tbody {
					display: flex;
					flex-direction: column;
					align-items: center;
					height: 100%;
					tr {
						width: 95%;
						flex: 1;
						display: flex;
						justify-content: space-between;
						align-items: flex-end;
						border-bottom: 1px solid #666666;
						padding: 0 5px 5px 5px;
						&:hover {
							background-color: #f4f4f2;
						}
						a {
							color: #000;
						}
						.import-notice {
							color: #fb0808;
							svg {
								width: 15px;
								margin-right: 5px;
								fill: #fb0808;
							}
						}
					}
				}
			}
		}
	}
	.current-project {
		height: 300px;
		//개발팀별 project 현황 그래프
		.team-graph {
			height: 270px;
			width: 45%;
			float: left;
			.highcharts-figure {
				height: 270px;
				#container_team {
					height: 100%;
					.highcharts-data-label text {
						font-size: 1em !important;
					}
					.highcharts-title {
						font-size: 15px !important;
					}
					.highcharts-data-table thead tr,
					.highcharts-data-table tr:nth-child(even) {
						background: #f8f8f8;
					}

					.highcharts-data-table table {
						border: 1px solid #ebebeb;
						width: 100%;
						max-width: 500px;
						tr {
							td,
							th,
							caption {
								padding: 0.5em;
							}
							th {
								font-weight: 600;
								padding: 0.5em;
							}
							caption {
								padding: 1em 0;
								font-size: 1.2em;
								color: #555;
							}
						}
						tr:hover {
							background: #f1f7ff;
						}
					}
				}
			}
		}

		//APQP 단계별 그래프
		.step-graph {
			width: 55%;
			height: 270px;
			float: left;
			.highcharts-figure {
				height: 270px;
				#container_step {
					height: 100%;
				}
			}
			.highcharts-title {
				font-size: 15px !important;
			}

			.highcharts-data-table table {
				font-family: Verdana, sans-serif;
				border-collapse: collapse;
				border: 1px solid #ebebeb;
				text-align: center;
				width: 100%;
				max-width: 500px;
			}

			.highcharts-data-table caption {
				padding: 1em 0;
				font-size: 1.2em;
				color: #555;
			}

			.highcharts-data-table th {
				font-weight: 600;
				padding: 0.5em;
			}

			.highcharts-data-table td,
			.highcharts-data-table th,
			.highcharts-data-table caption {
				padding: 0.5em;
			}

			.highcharts-data-table thead tr,
			.highcharts-data-table tr:nth-child(even) {
				background: #f8f8f8;
			}

			.highcharts-data-table tr:hover {
				background: #f1f7ff;
			}
		}
	}
	.qm-board {
		.sub-gnb {
			display: flex;
			gap: 5%;
			flex-wrap: wrap;
			article {
				width: 30%;
				height: 80px;
				float: left;
				border: 1px solid #828282;
				border-radius: 10px;
				margin-bottom: 15px;
				box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
				&:hover {
					background-color: #f4f4f2;
				}
				span {
					display: block;
					width: 100%;
					text-align: center;
					margin-bottom: 5px;
				}
				a {
					display: flex;
					justify-content: space-evenly;
					align-items: center;
					color: #000;
					img {
						height: 40px;
					}
					b {
						font-size: 25px;
					}
				}
			}
		}
		.sub-gnb-customer {
			display: flex;
			gap: 2%;
			article {
				flex: 1;
				height: 60px;
				border: 1px solid #828282;
				border-radius: 10px;
				box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
				&:hover {
					background-color: #f4f4f2;
				}
				a {
					display: flex;
					justify-content: space-evenly;
					align-items: center;
					height: 100%;
					color: #000;
					img {
						width: 40px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1450px) {
	.container {
		.main-gnb {
			ul {
				gap: 15px;
			}
		}
		.processing-doc {
			table {
				font-size: 14px;
			}
		}
		.progress-rate {
			.sub-gnb {
				gap: 5px;
				article {
					a {
						div {
							img {
								height: 23px;
							}
						}
					}
				}
			}
		}
		.activity-progress {
			.sub-gnb {
				article {
					a {
						p {
							font: 14px/25px "Noto Sans KR", sans-serif;
						}
						b {
							font-size: 20px;
						}
					}
				}
			}
		}
		.processing-wait {
			table {
				font-size: 14px;
			}
		}
		.notice {
			.notice-wrapper {
				table {
					font-size: 14px;
				}
			}
		}

		.qm-board {
			.sub-gnb {
				article {
					span {
						font-size: 14px;
						margin-top: 10px;
					}
					a {
						img {
							height: 30px;
						}
						b {
							font-size: 20px;
						}
					}
				}
			}
			.sub-gnb-customer {
				article {
					a {
						font-size: 14px;
						img {
							width: 40px;
						}
					}
				}
			}
		}
	}
	//개발팀별 project 현황 그래프
	.team-graph {
		width: 50%;
	}

	//APQP 단계별 그래프
	.step-graph {
		width: 50%;
	}
}

@media screen and (max-width: 1220px) {
	.wrapper {
		width: 100%;
		margin-bottom: 5px;
		&:nth-of-type(3),
		&:nth-of-type(2n + 6) {
			margin-right: 0;
		}
	}
}

@media screen and (max-width: 1100px) {
	.container {
		.main-gnb {
			ul {
				gap: 10px;
				li {
					a {
						font-size: 14px;
						flex-direction: column;
						img {
							width: 25px;
						}
					}
				}
			}
		}
	}
}
